@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  font-family: 'Space Mono', monospace;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  overflow-x: hidden;
}

body {
  @apply scroll-smooth;
}

@layer components {
  .icon-btn {
    @apply p-2 hover:dark:bg-darkfg/70 hover:bg-gray-200 rounded-lg flex items-center justify-center;
  }

  .btn {
    @apply px-6 py-3 text-sm bg-primary rounded-lg text-white;
  }

  input {
    @apply font-semibold;
  }

  ::-webkit-input-placeholder {
    @apply text-gray-200 font-semibold;
  }

  ::-moz-placeholder {
    @apply text-gray-200 font-semibold;
  }

  :-ms-input-placeholder {
    @apply text-gray-200 font-semibold;
  }

  ::-ms-input-placeholder {
    @apply text-gray-200 font-semibold;
  }

  ::placeholder {
    @apply text-gray-200 font-semibold;
  }

  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background-color: transparent !important;
  }
}